/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-red-gutenberg-blocks-leadership-team-gallery .recipe-image {
	background: #f1f1f1;
	/*float: right;*/
	width: 50%;
	min-height: 100px;
	text-align: center;
}

.wp-block-red-gutenberg-blocks-leadership-team-gallery .recipe-image button {
	margin-top: 30px;
}

.wp-block-red-gutenberg-blocks-leadership-team-gallery .recipe-image button.image-button {
	margin: 0;
	padding: 0;
	display: block;
}

.wp-block-red-gutenberg-blocks-leadership-team-gallery .recipe-image img {
	display: block;
	z-index: 1;
	position: relative;
}

.wp-block-red-gutenberg-blocks-leadership-team-gallery h2 {
	font-size: 1.5em;
}

.wp-block-red-gutenberg-blocks-leadership-team-gallery ul {
	padding-left: 2.5em !important; /* Needs fix in Gutenberg. */
}

.wp-block-red-gutenberg-blocks-leadership-team-gallery:after { 
	content:""; 
	clear:both; 
	display: table;
}
